[Unit]
Description=Silverbullet

[Service]
ExecStart=/var/home/dkl/.deno/bin/silverbullet /var/home/dkl/silverbullet
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
Environment="DENO_DIR=/var/home/dkl/.deno"
Environment="PATH=/usr/local/bin:/usr/bin:/var/home/dkl/.deno/bin"
Environment="SB_INDEX_PAGE=Home"

[Install]
WantedBy=default.target
