export CLOUDSDK_PYTHON=python3
export COMPOSE_DOCKER_CLI_BUILD=1
export EDITOR=nvim
export GPG_TTY=$(tty)
export JADE_PUB=/usr/share/sgml
export LANG=en_US.UTF-8
export LDP_HOME=/usr/share/sgml/docbook/dsssl-stylesheets-1.79/dtds/decls
export MANPATH="/usr/local/man:$MANPATH"
export MOZ_DBUS_REMOTE=1
export MOZ_ENABLE_WAYLAND=1
export MOZ_USE_XINPUT2=1
export PERL5LIB="$HOME/perl5/lib/perl5:$PERL5LIB"
export QT_SCALE_FACTOR=2
export QT_IM_MODULE=wayland
export QT_QPA_PLATFORM=wayland
export SDL_VIDEODRIVER=wayland
export XCURSOR_SIZE=24
export XDG_SESSION_TYPE=wayland
export XMODIFIERS="@im=wayland"
export PYENV_ROOT="$HOME/.pyenv"
export TMUX_PLUGIN_MANAGER_PATH="~/.tmux/plugins"
