function largest () {
    du --max-depth=1 $1 2> /dev/null | sort -n -r | head -n20
}

function dcleanup () {
    docker rm -v $(docker ps --filter status=exited -q 2>/dev/null) 2>/dev/null
    docker rmi $(docker images --filter dangling=true -q 2>/dev/null) 2>/dev/null
}

function dbox-backup () {
  podman exec fedora-38 sudo dnf clean all
  podman stop fedora-38
  podman container commit -p fedora-38 fedora-38-distrobox-dkl:latest
  podman save fedora-38-distrobox-dkl:latest | gzip > $HOME/devel/fedora-38-distrobox-dkl.tar.gz
}

function nvims() {
  items=("default" "kickstart" "LazyVim" "NvChad" "AstroNvim")
  config=$(printf "%s\n" "${items[@]}" | fzf --prompt=" Neovim Config  " --height=~50% --layout=reverse --border --exit-0)
  if [[ -z $config ]]; then
    echo "Nothing selected"
    return 0
  elif [[ $config == "default" ]]; then
    config=""
  fi
  NVIM_APPNAME=$config nvim $@
}
