function largest () {
    du --max-depth=1 $1 2> /dev/null | sort -n -r | head -n20
}

function dcleanup () {
    docker rm -v $(docker ps --filter status=exited -q 2>/dev/null) 2>/dev/null
    docker rmi $(docker images --filter dangling=true -q 2>/dev/null) 2>/dev/null
}

function pmcleanup () {
    podman rm -v $(podman ps --filter status=exited -q 2>/dev/null) 2>/dev/null
    podman rmi $(podman images --filter dangling=true -q 2>/dev/null) 2>/dev/null
}

function dbox-backup () {
  podman exec fedora-42 sudo dnf clean all
  podman stop fedora-42
  podman container commit -p fedora-42 fedora-42-distrobox-dkl:latest
  podman save fedora-42-distrobox-dkl:latest | gzip > $HOME/devel/fedora-42-distrobox-dkl.tar.gz
}

function bmo-prod {
  gcloud auth login
  gcloud compute ssh --zone "us-west1-a" "bastion-us-west1" --project "moz-fx-bastion-prod-global" --tunnel-through-iap
}

function bmo-dev-stage {
  gcloud auth login
  gcloud compute ssh --zone "us-west1-a" "bastion-us-west1" --project "moz-fx-bastion-nonprod-global" --tunnel-through-iap
}

function y() {
	local tmp="$(mktemp -t "yazi-cwd.XXXXXX")" cwd
	yazi "$@" --cwd-file="$tmp"
	IFS= read -r -d '' cwd < "$tmp"
	[ -n "$cwd" ] && [ "$cwd" != "$PWD" ] && builtin cd -- "$cwd"
	rm -f -- "$tmp"
}
