[Unit]
Description=Noctalia Random Wallpaper Changer
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/noctalia-random-wallpaper.sh

[Install]
WantedBy=default.target
